services:
  web:
    build:
      context: . # Points to the directory where the Dockerfile is located
      dockerfile: Dockerfile # Points to your custom Dockerfile
    ports:
      - 8080:80
    volumes:      
      - .:/var/www/html/plugins/pbs/campaign      
    environment:      
      - APP_DEBUG=true
      - APP_URL=http://localhost:8080
      - INIT_WINTER=true
      - CMS_ADMIN_PASSWORD=admin
      - QUEUE_DRIVER=database
      - MAIL_DRIVER=smtp
      - MAIL_HOST=mailpit
      - MAIL_PORT=1025
      - MAIL_USERNAME=null
      - MAIL_PASSWORD=null
      - MAIL_ENCRYPTION=null
    depends_on:
      - mariadb
      - mailpit
  mariadb:
    image: mariadb:latest
    ports:
      - 3306:3306    
  mailpit:
    image: axllent/mailpit
    ports:
      - 1025:1025
      - 8025:8025