<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            {% if success %}
                <div class="confirmation-message">
                    <h3>{{ 'pbs.campaign::lang.components.confirm.success.heading' | trans }}</h3>
                    <p>{{ 'pbs.campaign::lang.components.confirm.success.body' | trans({'subscriber': subscriber.first_name ?: subscriber.email}) }}</p>
                </div>
            {% else %}
                <div class="error-message">
                    <h3>{{ 'pbs.campaign::lang.components.confirm.error.heading' | trans }}</h3>
                    <p>{{ 'pbs.campaign::lang.components.confirm.error.body' | trans }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
